<div id="page2">
    <div class="navbar">
        <a href="/welcome" class="general">Home</a>
        <a class="general">About</a>
        <a class="user">Login</a>
        <a class="user">Register</a>
    </div>
    <body id="container">
    <%= form_with(url: "tweets/show", method: "get", local: true, id: "search") do |f|%>
        <%= f.label(:tweet, "Search Preference") %>
        <div id="contain-choice">
        <%= f.radio_button("pref", "hashtag", option = {checked: true}) %>
        <p>Hashtag</p>
        <%= f.radio_button("pref", "user") %>
        <p>User</p>
        </div>
        <%= f.text_field(:tweet, :maxlength => 21, :placeholder => "Search...", :required => true) %>
        <%= f.submit("Submit") %>
    <% end %>
    </body>
</div>