<div id="page2">
    <div class="hash-navbar">
        <a href="/home" class="general">Home</a>
        <div class="dropdown-list">
            <a class="user">Account</a>
            <div class="dropdown-user-content">
                <% if session[:user_id2] %>
                    <% found_user = User.find(session[:user_id2]) %>
                    <%= link_to 'Your account', account_path(found_user) %>
                    <%= link_to 'Logout', logout_account_index_path() %>
                <% else %>
                    <%= link_to 'Login', {controller: 'user', action: 'index'} %>
                    <%= link_to 'Register', {controller: 'user', action: 'register'} %>
                <% end %>
            </div>
        </div>
    </div>
    <body id="tweet-container">
    <%= form_with(url: "tweets/show", method: "get", local: true, id: "search") do |f|%>
        <%= f.label(:tweet, "Search Preference") %>
        <div id="contain-choice">
        <%= f.radio_button("pref", "hashtag", option = {checked: true}) %>
        <p>Hashtag</p>
        <%= f.radio_button("pref", "user") %>
        <p>User</p>
        </div>
        <%= f.text_field(:tweet, :maxlength => 21, :placeholder => "Search...", :required => true) %>
        <%= f.submit("Submit") %>
    <% end %>
    </body>
</div>