<div id="user-page">
    <div class="hash-navbar">
        <a href="/home" class="general">Home</a>
        <a class="general">About</a>
        <div class="dropdown-list">
            <a class="user">Account</a>
            <div class="dropdown-user-content">
                <% if session[:user_id2] %>
                    <% found_user = User.find(session[:user_id2]) %>
                    <%= link_to 'Your account', account_path(found_user) %>
                    <%= link_to 'Logout', logout_account_index_path() %>
                <% else %>
                    <%= link_to 'Login', {controller: 'user', action: 'index'} %>
                    <%= link_to 'Register', {controller: 'user', action: 'register'} %>
                <% end %>
            </div>
        </div>
    </div>
    <body id="container">
		<div id="header-container">
			<h1>Welcome back, <%= @user.name %>!</h1>
		</div>
		<div id="user-tweets">
            <div id="main-table-container">
                <table>
                    <thead>
                        <tr>
                            <th id="user-name">User</th>
                            <th id="tweet-content">Tweet</th>
                            <th id="num-faves">Favorites</th>
                            <th id="num-retweets">Retweets</th>
                            <th id="del-tweets"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= render @user.tweets %>
                    </tbody>
                </table>
            </div>
		</div>
    </body>
</div>

