<div id="page1">
    <div class="hash-navbar">
        <a href="/home" class="general">Home</a>
        <a class="general">About</a>
        <div class="dropdown-list">
            <a class="user">Account</a>
            <div class="dropdown-user-content">
                <% if session[:user_id2] %>
                    <% found_user = User.find(session[:user_id2]) %>
                    <%= link_to 'Your account', account_path(found_user) %>
                    <%= link_to 'Logout', logout_account_index_path() %>
                <% else %>
                    <%= link_to 'Login', {controller: 'user', action: 'index'} %>
                    <%= link_to 'Register', {controller: 'user', action: 'register'} %>
                <% end %>
            </div>
        </div>
    </div>
    <header>
        <h1 id="title">HashScrape</h1>
    </header>
    <body>
        <%= link_to 'Get Started', {controller: 'tweets', action: 'index'}, class: "start-btn" %><br>
    </body>
</div>